/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

body
{
  margin: 0;
  padding: 0;

  /* make it look decent enough */
  background: #232323;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

a
{
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

a:hover
{
  color: #0084CC;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 10px;
  left: -120px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 32px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: white;;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 100px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 100px;

  background: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}


div{
  align-items: center;
}
.logo{
  position: relative;
  background-image: url(neo.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 50px;
  height:80px;
  align-self: center;
  width:80px;
}
.btn-container{
  height:13vh;
  width:50vw;
}
.btn-container1{
  height:13vh;
  width:50vw;
  margin-top:-75px;
}
.btn-container2{
  height:20vh;
  width:50vw;
}
.btn-container3{
  height:13vh;
  width:50vw;
}
.contentcontainer{
  flex-flow:row wrap;
  align-content:flex-start;
  display:flex;
  height:100vh;
  width: 100vw;
  overflow-y:scroll;
  -webkit-overflow-scrolling: touch;
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.dice{
  margin-left:25%;
  position: relative;
  height:120px;
  width:120px;
}
.dice1{
  margin-left:25%;
  position: relative;
  height:120px;
  width:120px;
}
.btn-roll{
  display:block;
  position:relative;
  font-size:20px;
  height:80px;
  width:50vw;
  background-color: white;
}
.btn-roll1{
  display:block;
  font-size:20px;
  margin-top:-50px;
  height:80px;
  width:50vw;
  background-color: white;
}
.btn-roll2{
  display:block;
  font-size:20px;
  height:80px;
  width:50vw;
  background-color: white;
  margin-top:-70px;

}
.title{
  color: white;
  background-color: BLACK;
  width:100vw;
  height:50px;
  position: fixed;
  text-align: center;
  font-weight: bold;
  z-index: 10;
  top: 0;
}
.container{
  background-image:linear-gradient(#A10606,#0084CC);
  background-size: contain;
  width:100vw;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  height:100vh;
}
.rules h4{
  font-size: 20px;
  color: white;
  text-align: center;
}
.rules p{
  text-align:left;
  font-size: 14px;
  font-weight: bold;
}
.rules{
  display: flex;
  color: white;
  overflow-y: visible;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  width: 100vw;
  height: 10vh;
  margin-bottom:10px;
}
.ballcontainer{
  overflow-y:visible;
  width:50vw;
  height:20vh;
  margin-bottom:5px;
  margin-left:-25px;
}
.ball1{
  margin-left:25%;
  height:130px;
  width:130px;
}
.ballbutton{
  font-size:20px;
  height:80px;
  width:50vw;
  background-color: white;
}
.numberdice1container{
  width:50vw;
  height:30vh;
   margin-left:-25px;
}
.numberdice2container{
  width:50vw;
  height:30vh;
  margin-top:-10vh;
   margin-left:-25px;
}
.worddicecontainer{
  width:50vw;
  height:30vh;
  margin-top:-10vh;
   margin-left:-25px;
}
.word1{
  margin-left:25%;
  height:120px;
  width:120px;
}
@media only screen and (max-height: 500px) {
  .ballcontainer{
    overflow-y:visible;
    width:50vw;
    height:20vh;
    margin-bottom:70px;
    margin-left:-25px;
  }
  .numberdice1container{
    width:50vw;
    height:30vh;
     margin-left:-25px;
     margin-bottom: 70px;
  }
  .numberdice2container{
    width:50vw;
    height:30vh;
    margin-top:-10vh;
     margin-left:-25px;
     margin-bottom: 70px;
  }

  .worddicecontainer{
    width:50vw;
    height:30vh;
    margin-top:-10vh;
     margin-left:-25px;
     margin-bottom: 70px;
  }
  #menuToggle
  {
    display: block;
    position: relative;
    top: 10px;
    left: -270px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
  }
  @media only screen and (min-width: 500px) {
    div{
      align-items: center;
    }
    .logo{
      position: relative;
      background-image: url(neo.png);
      background-size: contain;
      background-repeat: no-repeat;
      margin-top: 50px;
      height:80px;
      align-self: center;
      width:80px;
    }
    .btn-container{
      height:13vh;
      width:50vw;
    }
    .btn-container1{
      height:13vh;
      width:50vw;
      margin-top:-75px;
    }
    .btn-container2{
      height:20vh;
      width:50vw;
    }
    .btn-container3{
      height:13vh;
      width:50vw;
    }
    .contentcontainer{
      flex-flow:row wrap;
      align-content:flex-start;
      display:flex;
      height:100vh;
      width: 100vw;
      overflow-y:scroll;
      -webkit-overflow-scrolling: touch;
    }
    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .dice{
      margin-left:25%;
      position: relative;
      height:120px;
      width:120px;
    }
    .dice1{
      margin-left:25%;
      position: relative;
      height:120px;
      width:120px;
    }
    .btn-roll{
      display:block;
      position:relative;
      font-size:20px;
      height:80px;
      width:50vw;
      background-color: white;
    }
    .btn-roll1{
      display:block;
      font-size:20px;
      margin-top:-50px;
      height:80px;
      width:50vw;
      background-color: white;
    }
    .btn-roll2{
      display:block;
      font-size:20px;
      height:80px;
      width:50vw;
      background-color: white;
      margin-top:-70px;

    }
    .title{
      color: white;
      background-color: BLACK;
      width:100vw;
      height:50px;
      position: fixed;
      text-align: center;
      font-weight: bold;
      z-index: 10;
      top: 0;
    }
    .container{
      background-image:linear-gradient(#A10606,#0084CC);
      background-size: contain;
      width:100vw;
      background-color: white;
      overflow-y: scroll;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
      height:100vh;
    }
    .rules h4{
      font-size: 20px;
      color: white;
      text-align: center;
    }
    .rules p{
      text-align:left;
      font-size: 14px;
      font-weight: bold;
    }
    .rules{
      display: flex;
      color: white;
      overflow-y: visible;
      justify-content: center;
      text-decoration: none;
      font-weight: bold;
      position: relative;
      width: 100vw;
      height: 10vh;
      margin-bottom:10px;
    }
    .ballcontainer{
      overflow-y:visible;
      width:50vw;
      height:20vh;
      margin-bottom:5px;
      margin-left:-25px;
    }
    .ball1{
      margin-left:25%;
      height:130px;
      width:130px;
    }
    .ballbutton{
      font-size:20px;
      height:80px;
      width:50vw;
      background-color: white;
    }
    .numberdice1container{
      width:50vw;
      height:30vh;
       margin-left:-25px;
    }
    .numberdice2container{
      width:50vw;
      height:30vh;
      margin-top:-10vh;
       margin-left:-25px;
    }
    .worddicecontainer{
      width:50vw;
      height:30vh;
      margin-top:-10vh;
       margin-left:-25px;
    }
    .word1{
      margin-left:25%;
      height:120px;
      width:120px;
    }
  }
