div{

  align-items: center;
}
.logo{
  position: relative;
  background-image: url(seek.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 10px;
  height:100px;
  align-self: center;
  width:100px;
}
.contentcontainer{
  flex-flow:row wrap;
  align-content:flex-start;
  display:flex;
  height:80vh;
  width: 100vw;
  overflow-y:scroll;
  -webkit-overflow-scrolling: touch;
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.dice{
  margin-left:25%;
  position: relative;
  height:100px;
  width:100px;
}
.dice1{
  margin-left:25%;
  position: relative;
  height:100px;
  width:100px;
}
.btn-roll{
  display:block;
  position:relative;
  font-size:20px;
  height:80px;
  width:50vw;
  background-color: white;
}
.btn-roll1{
  font-size:20px;
  margin-bottom:0px;
  height:80px;
  width:50vw;
  background-color: white;
}
.btn-roll2{
  font-size:20px;
  height:80px;
  width:50vw;
  background-color: white;
}
.title{
  color: white;
  background-color: BLACK;
  width:100vw;
  height:50px;
  position: fixed;
  text-align: center;
  font-weight: bold;
  z-index: 10;
  top: 0;
}

.container{
  background-image:linear-gradient(#A10606,#0084CC);
  background-size: contain;
  width:100vw;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.rules h4{
  font-size: 20px;
  color: white;
  text-align: center;
}
.rules p{
  text-align:left;
  font-size: 14px;
  font-weight: bold;
}
.rules{
  display: flex;
  color: white;
  overflow-y: visible;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  width: 100vw;
  height: 10vh;
}
.ballcontainer{
  overflow-y:visible;
  width:50vw;
  height:45vh;
}
.ball1{
  margin-left:25%;
  height:100px;
  width:100px;
}
.ballbutton{
  font-size:20px;
  height:80px;
  width:50vw;
  background-color: white;
}
.numberdice1container{
  width:50vw;
  height:45vh;
}
.numberdice2container{
  width:50vw;
  height:45vh;
}

.worddicecontainer{
  width:50vw;
  height:45vh;
}
.word1{
  margin-left:25%;
  height:100px;
  width:100px;
}
