@media only screen and (max-width: 1000px) and (min-width: 400px) {
.logo{
  position: static;
  margin-top: 0px;
  height:30px;
  width:30px;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
}
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a {
    margin-left: 45%;
    align-items: center;
  }
  body {
    position: static;
    margin: 0;
    background-size: cover;
    background-position: center;
    font-weight: 300;
    height: 100vh;
    width: 100vw;
    background-color:white;
    bottom:0;
  }
  .center-container {
    margin:top 20px;
    font-weight: lighter;
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-color:whitesmoke;
    border-width: thin;
    border-color: whitesmoke;
  }
  .posts{
    position: relative;
    height: 100vh;
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    width: 100vw;
    height: 50px;
    background-color: whitesmoke;
  }
  .header-container {
    overflow: hidden;
    resize: none;
    position: ;
    width: 100vw;
    height: 80px;
    background-color: white;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    color:black;
  }
  .input-field {
    resize: none;
    overflow: scroll;
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
    color: #555;
    font-size: 18px;
    text-align: center;
    width: 200px;
    height: 25px;
    border-radius: 5%;
    margin-bottom: 17px;
    margin-top: -60px;
    border-width: thin;
    border-color: #F08080;
  }
  .input-field:focus{
    overflow: scroll;
    height: 50px;
    resize: none;
    outline: none;
    border-width: thin;
    border-color: #F08080;
  }
  .btn-submit {
    position: static;
    color: white;
    background-color:#F08080;
    border-color: #F08080;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin-left: 80%;
    cursor: pointer;
    outline: none;

  }
}
